body {
    background-color: tomato;
}
#h {
    color:whitesmoke;
    background-color: teal;
    font-family: 'Abel', sans-serif;
}
#items {
    font-family: 'Tourney', cursive;
}
.jeff {
    font-size: 55px;
}
#sentence {
    border-width: 5px;
    border-style: double;
}